@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: Poppins;
    background-color: rgba(173, 216, 230, 0.215);
}
.main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-size: 90px;
    margin: 0px;
}
.counter{
    text-align: center;
    font-size: 110px;
}
.button{
    font-size: 25px;
    background-color: transparent;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}